<ion-view  style="background: black none repeat scroll 0% 0%; color:white; ">
  <ion-content class="padding">
<p class="padding">You’ve been playing the Morning Fresh game for 2 hours now, time to stay hydrated!</p>
<p class="padding">You’ve been on the Morning Fresh Game for 4 Hours! Grab a granola bar.</p>
<p class="padding">You’ve been on the Morning Fresh Game for 6 Hours! Grab your favourite flavour of Morning Fresh</p>
  </ion-content>
<a href="#" onclick="window.open('http://www.drinkmorningfresh.com/products', '_system', 'location=yes'); return false;"><div class="bar bar-footer bar-balanced">
  <div class="title" >Buy product</div>
</div></a>
</ion-view>
