<ion-view class="bar-positive" style="background: black none repeat scroll 0% 0%;">
	<ion-content>
		<div class="homePage text-center">
			<div class="col">
				<img style="max-height: 80px; margin: 60px 0px;" src="img/logo.png">
			</div>
			<button ng-click="game1()" class="button button-full button-calm game_button">
			  Game 1
			</button>
			<button ng-click="game2()" class="button button-full button-calm game_button">
			  Game 2
			</button>
			<button ng-click="game3()" class="button button-full button-calm game_button">
			  Game 3
			</button>
			<button ng-click="game4()" class="button button-full button-calm game_button">
			  Game 4
			</button>
			
	`	</div>  
	</ion-content>
<a href="#buyProduct" ><div class="bar bar-footer bar-balanced">
  <div class="title" >Buy product</div>
</div></a>

</ion-view>
