<ion-view class="bar-positive" style="background: black none repeat scroll 0% 0%;">
	<ion-content>
		<div class="homePage text-center">
			<div class="col">
				<img style=" margin: 60px 0px;" src="img/logo.png">
			</div>
			<button ng-click="gamess()" class="button button-full button-calm game_button">
			  Play our games
			</button>
						
	`	</div>  
	</ion-content>
<a href="#buyProduct" ><div class="bar bar-footer bar-balanced">
  <div class="title" >Buy product</div>
</div></a>

</ion-view>
