<ion-view class="bar-positive">
	<ion-content>
		<div class="homePage text-center">
			<div class="col">
				<img src="img/logo.png"/>
			</div>
			<button ng-click="game1()" class="button button-full button-calm game_button">
			  Game 1
			</button>
			<button ng-click="game2()" class="button button-full button-calm game_button">
			  Game 2
			</button>
			<button ng-click="game3()" class="button button-full button-calm game_button">
			  Game 3
			</button>
			<button ng-click="game4()" class="button button-full button-calm game_button">
			  Game 4
			</button>
			
	`	</div>  
	</ion-content>
<div class="bar bar-footer bar-balanced">
  <div class="title" ng-click="buyProducts()">Buy product</div>
</div>

</ion-view>
